window {
	background-color: rgba(16, 16, 16, 0.9);
	font-size: 16px;
	font-family: FontAwesome, Fira Code, Roboto, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #e8eaed;
}

button {
	border: 2px solid #303030;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	background-color: transparent;
	margin: 10px;
}

button:active, button:focus, button:hover {
	border-color: #dda456;
	color: #dda456;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#exit-sway {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}