[Desktop Entry]
Name=Firefox
GenericName=Web Browser
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
Terminal=false
Exec=/usr/bin/firefox --new-window %u

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/firefox --private-window %u
