[Desktop Entry]
Name=Termius
Comment=SSH client and terminal
Exec=/opt/Termius/termius-app --ozone-platform-hint=wayland --ozone-platform=wayland --enable-features=UseOzonePlatform,WaylandWindowDecorations,WebUIDarkMode --force-dark-mode --start-maximized --enable-gpu %U
Terminal=false
Type=Application
Icon=termius-app
StartupWMClass=Termius
GenericName=SSH Client
Categories=Network;Utility;
Keywords=ssh;terminal;remote;
MimeType=x-scheme-handler/termius;