[Unit]
Description=Low Battery Notification
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash -c 'while true; do if [[ $(cat /sys/class/power_supply/BAT0/capacity) -le 15 ]]; then notify-send -u critical "Low battery warning!" "Only $(cat /sys/class/power_supply/BAT0/capacity)% remaining"; fi; sleep 300; done'
Restart=always

[Install]
WantedBy=multi-user.target