* {
    font-size: 	14px;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: rgba(16, 16, 16, 0.9);
    border-bottom: 2px solid #303030;
    color: #e8eaed;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-launcher, #workspaces button {
	font-weight: bold;
	padding: 0 5px;
    background-color: transparent;
    color: #4f4f4f;
    box-shadow: inset 0 -2px transparent;
    border: none;
    border-radius: 0;
}

/* Waves to the right */
#custom-launcher,
#workspaces button:last-child,
/* #window, */
#clock.time,
#clock.date {
    border-right: 2px solid #303030;
    border-radius: 360;
    padding-right: 16px;
}

/* Waves to the left */
#clock.week,
#clock.time,
#network,
#pulseaudio,
#wireplumber,
#backlight,
#battery,
#tray {
    border-left: 2px solid #303030;
    border-radius: 360;
    padding-left: 16px;
}

#workspaces button:hover {
    background: inherit;
    color: #e8eaed;
}

#workspaces button.focused {
    color: #e8eaed;
}

#window,
#workspaces {
    margin: 0 4px;
}

#custom-launcher,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray {
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}



/* END OF NORMAL CONFIGURATION, EVERYTHING BELOW ARE ANIMATIONS AND DYNAMIC COLORS */



@keyframes wave {
	from {
		padding-top: 0px;
	}
    to {
		padding-top: 4px;
    }
}

#custom-launcher,
#battery.warning {
	color: #dda456;
}

#workspaces button.urgent,
#network.disconnected,
#battery.critical:not(.charging) {
	color: #dd5656;
    animation-name: wave;
    animation-duration: 750ms;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted,
#wireplumber.muted,
#battery.charging,
#battery.plugged {
    color: #4285f4;
}