* {
    font-size: 	14px;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: rgba(16, 16, 16, 0.9);
    border-bottom: 2px solid #444444;
    color: #e8eaed;
    /* transition: background-color 250ms ease-in-out, border-bottom 250ms ease-in-out; */
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty,
window#waybar.floating,
window#waybar:not(.solo) {
    background-color: rgba(16, 16, 16, 0.75);
    border-bottom: 2px dashed rgba(68, 68, 68, 0.75);
}

tooltip {
    background-color: rgba(16, 16, 16, 0.9);
    border: 2px solid #444444;
    border-radius: 0;
}

tooltip label {
    color: #e8eaed;
}

#custom-launcher, #workspaces button {
	font-weight: bold;
	padding: 0;
    background-color: transparent;
    color: #4f4f4f;
    box-shadow: inset 0 -2px transparent;
    border: none;
    border-radius: 0;
}

/* Waves to the right */
#custom-launcher,
#workspaces button:last-child,
/* #window, */
#clock.time,
#clock.date {
    border-right: 2px dashed #444444;
    border-radius: 360px;
    padding-right: 16px;
}

/* Waves to the left */
#clock.week,
#clock.time,
#pulseaudio,
#wireplumber,
#backlight,
#battery,
#tray {
    border-left: 2px dashed #444444;
    border-radius: 360px;
    padding-left: 16px;
}

#workspaces button:hover {
    background: inherit;
    color: #e8eaed;
}

#workspaces button.focused {
    color: #e8eaed;
}

#window,
#workspaces {
    margin: 0 4px;
}

#custom-launcher,
#clock,
#battery,
#backlight,
#pulseaudio,
#wireplumber,
#tray {
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}



/* END OF NORMAL CONFIGURATION, EVERYTHING BELOW ARE ANIMATIONS AND DYNAMIC COLORS */

#custom-launcher,
#pulseaudio.muted,
#wireplumber.muted,
#battery.warning,
#battery.charging,
#battery.plugged {
	color: #d58f3f;
}

#workspaces button.urgent,
#battery.critical:not(.charging) {
	color: #d83e43;
}