[Desktop Entry]
Name=Autorun Prompt
GenericName=File Explorer
TryExec=nemo-autorun-software
Exec=nemo-autorun-software %u
Icon=application-x-executable
NoDisplay=true
Terminal=false
Type=Application
MimeType=x-content/unix-software;
