[Desktop Entry]
Name=Disks
GenericName=Disk Manager
Comment=Manage Drives and Media
Keywords=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Exec=gnome-disks
Icon=org.gnome.DiskUtility
Terminal=false
Type=Application
Categories=GTK;Utility;
DBusActivatable=true
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
