@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};

* {
  all: unset;
}

window {
  background-image: url("{{image}}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#window-box {
  background-color: rgba(16, 16, 16, 0.90);
  border: 1px solid alpha(@primary, 0.5);
  padding: 0 32px;
  box-shadow:
    0 60px 80px rgba(0, 0, 0, 0.6),
    0 45px 26px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

#time-box {
  font-size: 0;
}

#clock-label {
  min-width: 320px;
  background-color: alpha(@primary, 0.1);
  color: @primary;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  border: 1px solid alpha(@primary, 0.5);
  border-top: 0;
}

/* hide "Password:" label */
#input-label {
  font-size: 0;
}

#user-icon {
  margin: 8px 0 0 0;
}

#user-name {
  font-size: 16px;
  margin: 8px 0 8px 0;
  color: #eeeeee;
}

#input-field {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid alpha(@primary, 0.3);
  color: #eeeeee;
  background-color: rgba(30, 30, 30, 0.5);
}

#input-field:focus {
  border: 1px solid @primary;
}

#warning-label {
  color: #ff5555;
  margin-top: 12px;
}

#error-label {
  color: #ff5555;
  margin-top: 12px;
}

#unlock-button {
  margin-top: 12px;
  padding: 10px 2rem;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: alpha(@primary, 0.1);
  color: @primary;
  border: 1px solid alpha(@primary, 0.5);
}

#unlock-button:hover {
  background-color: alpha(@primary, 0.2);
}
